# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/
ENV/

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# Logs and databases
*.log
mlflow.db
mlruns/

# IDE & Editor files
.vscode/
.idea/
*.swp
*.swo

# OS generated
.DS_Store
Thumbs.db
